<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <appSettings>
    <!-- Email config -->
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="MailUserName" value="xxx" />
    <add key="MailPassword" value="xxx" />
    <add key="MailFrom" value="xxx@gmail.com" />
    <add key="MailPort" value="587" />
    <add key="EnableSsl" value="true" />
  </appSettings>
</configuration>
