<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Server=(local);Database=itt_congttdt;User Id=sa;password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="Domain" value="www.qlvb.tinhtinh.com" />
    <!-- File export config -->
    <add key="TempFolder" value="E:\JOB\ITT\01.CongTTDT\02.Source\HLv1.0..BatchJob\Template\" />
    <add key="ExportTemp" value="E:\JOB\ITT\01.CongTTDT\02.Source\HLv1.0..BatchJob\Export\" />
    <add key="Export" value="E:\JOB\ITT\01.CongTTDT\02.Source\HL.Website\Data\upload\files\Export\" />
    <add key="ExportUrl" value="/Data/upload/files/Export/" />
    <!-- Email config -->
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="MailUserName" value="xxx" />
    <add key="MailPassword" value="xxx" />
    <add key="MailFrom" value="xxx@gmail.com" />
    <add key="MailPort" value="587" />
    <add key="EnableSsl" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>