.top-container .vanban_left
{
    width: 100%;
	margin-top: 10px;
    float: left;
}
.top-container .vanban_left ul li
{
    margin-top: 1px;
	width: 100%;
	float: left;
}
.top-container .vanban_left ul li a
{
    background: #e8e6e6;
    display: block;
    padding: 8px 10px;
    font-weight: bold;
    color: black;
	width: 100%;
	float: left;
}
.top-container .vanban_left ul li a:hover {
  background: #efefef;
  color:#db0404;
  width: 100%;
  float: left;
}

.top-container .vanban_left ul li.selected ul
{
    display: block;
}
.top-container .vanban_left ul li ul
{
    display: none;
}
.top-container .vanban_left ul li ul li
{
    margin-top: 1px;
    background: #f6f5f5;
    margin-bottom: 0px;
}
.top-container .vanban_left ul li ul li a
{
    background: none;
    font-weight: normal;
    color: black;
	padding-left: 20px;

}
.vb-icon .fa {
	width: 20px;
    font-size: 13px;
	padding-left:0px ;
	padding-right:2px;
	float:left;
	
	  }
.g-sb-tt{
	color:#db0404;
	font-weight: bold;
	padding-left:50px ;
	padding-bottom:7px;
	padding-top: 7px;
	background: #f6f5f5;

}
.vb-text {
	width: 170px;
	height:auto;
	padding-left:0px ;
	padding-right:2px;
	float:left;
	
	  }
.date{

	font-size: 13px;
	color:#C60;
	margin-top: 10px;

}


.date-container {
  margin-bottom: 0px;
  width: 100%;
  background: #f6f5f5;
  padding: 5px 10px;
  float: left;
  font-size: 13px;
}
.vanban_right
{
    float: right;
    margin-left: 10px;
    width: 100%;
    padding: 10px 10px;
}
.vanban_right .title_vanban
{
    border-bottom: 1px solid #d0d0d0;
    margin: 0px 0px 10px 0px;
    padding-bottom: 5px;
    float: left;
    width: 100%;
}
.vanban_right .title_vanban .left_title
{
    font-weight: bold;
    color: #386BA5;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 10px;
    display: block;
    padding-left: 20px;
    float: left;
    background: url("../../style/img/big_bullet.png") no-repeat center left;
}
.vanban_right .title_vanban .right_title
{
    float: right;
    margin-right: 10px;
    width: 200px;
    padding: 2px 5px;
}
.vanban_right .contents
{
    float: left;
    width: 100%;
}
.vanban_right .contents .top .btn_filter
{
    padding: 2px 20px;
    margin-bottom: 5px;
    background: #E41716;
    color: white;
    float: left;
    margin-right: 10px;
}
.vanban_right .contents .top .btn_filter.huy
{
    display: none;
}
.vanban_right .contents .top .btn_filter:hover
{
    background: #9b0101;
}
.vanban_right .contents .top .content_filter
{
    background: #EEE;
    margin-bottom: 10px;
    padding: 10px 10px;
    float: left;
    display: none;
}
.vanban_right .contents .top .content_filter.active
{
    display: block;
}
.vanban_right .contents .top .content_filter ul li
{
    border-bottom: 1px solid white;
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    float: left;
    width: 100%;
    padding-left: 5px;
}
.vanban_right .contents .top .content_filter ul li .calendar
{
    display: block;
    width: 20px;
    height: 18px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    background: url("../../style/img/calendar.png") no-repeat;
}
.vanban_right .contents .top .content_filter ul li .to
{
    float: left;
}
.vanban_right .contents .top .content_filter ul li .from
{
    float: left;
}
.vanban_right .contents .top .content_filter ul li .from .name
{
    width: 50px;
}
.vanban_right .contents .top .content_filter ul li .name
{
    float: left;
    width: 140px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 5px;
}
.vanban_right .contents .top .content_filter ul li .txt_name
{
    width: 70%;
    height: 30px;
    float: left;
    padding: 2px 2px;
    border: 1px solid #b6b3b3;
}

.vanban_right .contents .top .content_filter ul li .txt_name1
{
    width: 40%;
    height: 30px;
    float: left;
    padding: 2px 2px;
    border: 1px solid #b6b3b3;
}
.vanban_right .contents .top .content_filter ul li .select
{
    width: 135px;
    height: 23px;
    float: left;
    padding: 2px 2px;
    border: 1px solid #b6b3b3;
}
.vanban_right .contents .top .content_filter ul li button
{
    background: #E41716;
    padding: 2px 5px;
    color: white;
    margin-left: 10px;
}
.vanban_right .contents .top .content_filter ul li button:hover
{
    background: #9b0101;
}
.vanban_right .contents .top .content_filter ul li.linhvuc .select
{
    width: 230px;
}
.vanban_right .contents .top .number
{
    margin-bottom: 10px;
    float: right;
}
.vanban_right .contents .top .number span
{
    color: #E41716;
    font-weight: bold;
    font-style: italic;
}
.vanban_right .main_vbtable
{
    float: left;
	margin-bottom: 20px;
	border-top: 1px solid #bababa;
}
.vanban_right .main_vbtable table tr th
{
    background: #edecec;
    vertical-align: middle;
	border-right: 1px solid #bababa;
	border-left: 1px solid #bababa;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}
.vanban_right .main_vbtable table tr td
{
    vertical-align: middle;
    border: 1px solid #b6b3b3;
    line-height: 18px;
    padding: 5px 5px;
}
.vanban_right .main_vbtable table tr.even td
{
    background: #f3f3f3;
    min-width: 70px;

}
.thong_ke {
  width: 100%;
  float: left;
}

.thong_ke .main {
  border: 1px solid #dfdcdc;
  margin-top:5px;
}

.thong_ke .title {
  position: relative;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  background: #fba20d;
  border: 1px solid #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.thong_ke .title a{
  color: white;
}

.thong_ke .content {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdcdc;
  float: left;
  margin-bottom: 5px;
}


.thong_ke .content .text {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.thong_ke .content .text1 {
  font-size: 12px;
  font-weight: bold;
}
.thong_ke .content .number {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #db0404;
  margin-top: 20px;
  margin-bottom: 20px;
}
.thong_ke .content .ul {
  width: 100%;
  float: left;
}
.thong_ke .content ul li {
  margin-bottom: 15px;
  position: relative;
  float: left;
}
.thong_ke .content  ul li a {
  font-size: 15px;
  text-align: justify;
}
.thong_ke .content .check {
  width: 30px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.thong_ke .tab-content .title{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #db0404;
  margin-top: 20px;
  margin-bottom: 20px;
}
.thong_ke .tab-content .img {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.thong_ke .tab-content .img img {
  width: 100%;
}
.thong_ke .tab-content .img .overlay-time {
  position: absolute;
  padding: 3px 5px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6000000, endColorstr=#e6000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6000000, endColorstr=#e6000000);
  bottom: 3px;
  left: 0px;
  color: white;
}
.thong_ke .tab-content .img .overlay-time .fa {
  margin-right: 5px;
}

.main-content .main-left .content-vanban .table tr.even td
{
    background: #f9f9f9;
    min-width: 70px;

}

.dvc{
	width:100%;
	float:left;
	margin-bottom: 20px;
}
.dvc p{
	font-size:16px;
	color:#c90404;	
	width:auto;
	margin-left:1px;
	padding-left:14px;
	font-weight:bold;
	margin-bottom: 10px;
}
.dvc ul{
	float:left;
	font-size:15px;
	margin-left:20px;
}
.dvc ul li{
	float:left;
	width:100%;
	padding:5px;
}

.w25 {
  width: 24%;
}

.w50 {
  width: 50%;
}

.mr5 {
  margin-right: 5px;
}

.mt15 {
  margin-top: 15px;
}

.mt10 {
  margin-top: 10px;
}




