<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="DBConnection" connectionString="Server=(local);Database=itt_congttdt;User Id=sa;password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="IncidentPath" value="E:\JOB\ITT\01.CongTTDT\01.Documents\VNCERT\excel sự cố\"/>
    <add key="BotnetFileName" value="botnet_drone-vietnam-geo.csv"/>
    <add key="IncidentFileExtension" value=".csv"/>
  </appSettings>
</configuration>
